.hero {
    position: relative;
    margin-top: -($body-margin);
    margin-left: -($body-margin);
    margin-right: -($body-margin);

    &__box {
        position: relative;
        

        margin-top: -12vw;

        @include from($tablet) {
            max-width: 40%;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    @include until($fullhd) {
        .container {

            margin-left:  $body-margin;
            margin-right:  $body-margin;
        }
      }

    
}