.sites {
    .section__title {
        margin-bottom: $spacer;
    }

    .card {
        &__img {
            object-fit: cover;
            height: 300px;
            margin-bottom: .5em;
            width: 100%;
        }

        &__title {
            margin-bottom: .25rem;
        }
    }
}


@include touch {
    .sites.flex {
        flex-wrap: wrap;
    }

    .sites .flex-start {
        width: 100%;
        max-width: 100%;
        flex: none;
        margin-bottom: calc($spacer * 4);
    }
  }