@import '../../variables';

.sites {

    .section__title {
        margin-bottom: $spacer;
    }

    .card {
        &__img {
            object-fit: cover;
            height: 300px;
            margin-bottom: .5em;
        }

        &__title {
            margin-bottom: .25rem;
        }
    }
}