@import 'variables';
@import '/node_modules/bulma/sass/utilities/_all';
@import '/node_modules/bulma/sass/elements/_all';

/*  Components Styles */

@import '/src/components/hero/hero';
@import '/src/components/projects/projects';
@import '/src/components/sites/sites';
@import '/src/components/services/services';


/*  Global Styles */

* {
    box-sizing: border-box;
}

body {
    margin:             $body-margin;
    font-family:        $font-base;
    color:              $body-color;
    background-color:   $body-bg;
    font-size:          $font-size-base;
    line-height:        $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family:        $headings-font-family;
    line-height:        $headings-line-height;
    font-weight:        $headings-font-weight;
    color:              $headings-color;
    margin-bottom:      $headings-margin-bottom;
    margin-top: 0;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; line-height: $line-height-base; }
h5 { font-size: $h5-font-size; line-height: $line-height-base; }
h6 { font-size: $h6-font-size; line-height: $line-height-base; }

p {
    margin-top: 0;
    margin-bottom: 2em;
}

img {
    max-width: 100%;
}

.button {
    font-family: $font-base;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;

    padding-left: 1.5em;
    padding-right: 1.5em;

    img {
        transform: translate(-8px, 0px);
        margin-right: -5px;
    }
}

/* Sections */

.section {
    margin-bottom: 14vw;

    &__title {
        margin-bottom: calc($spacer * 4);
    }
}




/* Flex blocks */

.flex {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    margin: 0 $grid-wrapper-width;

   
    
    transition: all ease-in-out 1s;

    &__item {
        margin: 0 $grid-gutter-width;
        flex: 1 0 170px;

        transition: all ease-in-out 1s;
    }
}

.flex-start {
    margin: 0 $grid-gutter-width;
    padding-right: 25px;
    max-width: calc(33% - 0px);
}

/* Cards */

.card {

    @include until($tablet) {
        margin-bottom: calc($spacer * 3);
    }

    &__img,
    &__icon {
        margin-bottom: calc($spacer * 1.5);
        transition: all ease-in-out 1s;

    }

    &__desc {
        font-size: $font-size-sm;
        margin-bottom: 0;
    }
}


